@import 'style-constants.scss';

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;

    &-submit-btn {
        background-color: $primary-color-normal;
        padding: 10px;
        align-self: end;
        color: white;
    }

    &-input {
        appearance: none;
        padding: 1rem;
        border: $primary-color-normal 0.5rem solid;
        min-height: 4rem;
        transition: all 0.3s;

        &:focus {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
        }
    }
}

.error-text {
    font-size: small;
    color: brown;
}