.form-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;

    select {
        appearance: auto;
    }
}