@import 'style-constants.scss';

.review-actions {
    display: flex;
    gap: 2rem;
    margin-top: auto;
}

.review-edit {
    padding: 2rem;
    background-color: $primary-color-dark;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $primary-color-darkest;

    }
}

.review-delete {
    padding: 2rem;
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: rgb(62, 0, 0);
    }
}