.review-details-page {
    display: flex;
    gap: 4rem;
}

.review-details {
    &-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: white;
        padding: 2rem;
    }

    &-title,
    &-author,
    &-rating {
        display: flex;
        gap: 1rem;
        align-items: center;

    }

    &-links-container {
        display: flex;
        margin-top: auto;
        gap: 2rem;
    }

    &-votes {
        display: flex;
        gap: 4rem;
        margin-top: 1rem;
        align-items: center;
    }

    &-actions-upvote,
    &-actions-downvote {
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

}

.green-thumb {
    filter: hue-rotate(45deg) brightness(0.8) saturate(2);
}

.red-thumb {
    filter: hue-rotate(322deg) saturate(5) brightness(0.95);
}