.book-details-page {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.book-details {

    &-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: white;
        padding: 1rem;
    }

    &-title,
    &-author,
    &-country,
    &-language,
    &-pages,
    &-year {
        display: flex;
        gap: 1rem;
    }

    &-links-container {
        display: flex;
        margin-top: auto;
        gap: 2rem;
    }

    &-cta-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}